{
    "presets": [
        "react-app"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-proposal-optional-chaining",
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "#sc": [
                        "./src/styled/styled-components"
                    ],
                    "#styles": [
                        "./src/styled/styles"
                    ],
                    "#views": [
                        "./src/views"
                    ],
                    "#components": [
                        "./src/components"
                    ],
                    "#constants": [
                        "./src/constants"
                    ],
                    "#recoil": [
                        "./src/recoil"
                    ],
                    "#graphql": [
                        "./src/graphql"
                    ]
                }
            }
        ]
    ]
}